* {
    background-image: url(https://i.picsum.photos/id/110/5616/3744.jpg?hmac=9pvF5kuiWFYdp22iPMoUCWcrLgGhK0EkrwHEbq5WrFQ);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: white;
}